*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body
{
    background: #f0f0f0;
    font-family: 'Roboto', sans-serif;
}

.box
{
    background: #fff000;
    color: #f82;
    padding: 40px;
    font-size: 24px;
    border-radius: 5px;
    margin-right: 40px;
}

.container
{
    width: 90%;
    max-width: 1000px;
    margin: 40px auto;
    border: 2px solid #000;
    padding: 40px;
    display: flex;
    gap: 10px;
    flex-direction: row; /* SE ALINEAN LAS CAJAS DENTRO DE UN CONTENEDOR POR FILAS. */
    flex-wrap: wrap; /* ESTAS CAJAS NO PUEDEN SOBREPASAR DE LA LÍNEA DE UN CONTENEDOR, POR LO TANTO, AL ADAPTAR A UN DISPOSITIVO MÓVIL CUALQUIERA POR TAMAÑO, SOBRA ESPACIO POR COLUMNAS DENTRO DE ELLA. */

    /*

        PROPIEDADES DE UN CONTENEDOR:

        1.- "flex-direction" : NOS PERMITE CAMBIAR LA DIRECCIÓN EN LA QUE LOS ITEMS SE POSICIONAN.

            VALORES : row | row-reverse | column | column-reverse 

            EJEMPLO: flex-direction: row;

        2.- "flex-wrap" : NOS PERMITE ESTABLECER SI LOS ELEMENTOS SE PUEDEN ABARCAR MÚLTIPLES LÍNEAS.

            VALORES : nowrap | wrap | wrap-reverse

            EJEMPLO: flex-wrap: wrap;

        3.- "justify-content" : NOS PERMITE ESTABLECER EL ALINEADO DE LOS ELEMENTOS Y DISTRIBUIR EL ESPACIO SOBRANTE.

            VALORES : start | center | end | space-between | space-around | space-evenly

        4.- "align-content" : NOS PERMITE CAMBIAR EL ALINEADO DE LOS ELEMENTOS CUANDO ÉSTOS OCUPAN MÚLTIPLES LÍNEAS.
        
            VALORES: start | center | end | space-between | space-around

            EJEMPLO: CUÁNDO TIENEN "flex-wrap: wrap;" .

    */

    /* justify-content: center; */

    height: 90vh;
    
    /* align-items: center; */

    align-content: space-around;
}